<!DOCTYPE html>
<html>
<head>
  <title>Sm</title>
  <link rel="alternate" type="application/rss+xml" title="Codingfish RSS Feed" href="https://www.codingfish.com/feed?format=rss">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
